
    body{
        color: blue;
        background-color: rgb(63, 203, 24);
    }
    h1{
        color: blueviolet;
        background-color: rgb(50, 231, 231);
        width: fit-content;
        border-style: inherit;
    }